<section class="section summary-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-user fa-stack-1x fa-inverse"></i>
    </span>
    About
  </h2>

  <div class="summary">
      Im a Ph.D. candidate in the Earth and Environmental Engineering Department at Columbia University advised by Upmanu Lall.
      I work on applied problems in infrastructure planning and climate risk management that lie at the intersection of meteorology, statistics, hydrology, reinforcement learning, and engineering.
      I'm particularly focused on thinking about how to can combine engineering projects, policy changes, and financial tools (like insurance) to manage climate risks in the near and distant future.
      I am also deeply committed to improving the quality and accessibility of STEM education.
  </div>
    
</section><!--//section-->
