<div class="contact-container container-block">
  <ul class="list-unstyled contact-list">

    {% if site.data.contact.email %}
    <li class="email"><i class="fas fa-envelope"></i>
      <a href="mailto:{{ site.data.contact.email }}">{{ site.data.contact.email }}</a>
    </li>
    {% endif %}

    {% if site.data.contact.phone %}
    <li class="phone"><i class="fas fa-phone"></i>
      <a href="tel:{{ site.data.contact.phone }}">{{ site.data.contact.phone }}</a>
    </li>
    {% endif %}

    {% if site.data.contact.website %}
    <li class="website"><i class="fas fa-globe-americas"></i>
      <a href="http://{{ site.data.contact.website }}" target="_blank">{{ site.data.contact.website }}</a>
    </li>
    {% endif %}

    {% if site.data.contact.github %}
    <li class="github"><i class="fab fa-github"></i>
      <a href="http://github.com/{{ site.data.contact.github }}" target="_blank">{{ site.data.contact.github }}</a>
    </li>
    {% endif %}

    {% if site.data.contact.linkedin %}
    <li class="linkedin"><i class="fab fa-linkedin"></i>
      <a href="https://linkedin.com/in/{{ site.data.contact.linkedin }}" target="_blank">{{ site.data.contact.linkedin }}</a>
    </li>
    {% endif %}

    {% if site.data.contact.gitlab %}
    <li class="gitlab"><i class="fab fa-gitlab"></i>
      <a href="http://gitlab.com/{{ site.data.contact.gitlab }}" target="_blank">{{ site.data.contact.gitlab }}</a>
    </li>
    {% endif %}

    {% if site.data.contact.bitbucket %}
    <li class="bitbucket"><i class="fab fa-bitbucket"></i>
      <a href="http://bitbucket.com/{{ site.data.contact.bitbucket }}" target="_blank">{{ site.data.contact.bitbucket }}</a>
    </li>
    {% endif %}

    {% if site.data.contact.twitter %}
    <li class="twitter"><i class="fab fa-twitter"></i>
      <a href="https://twitter.com/@{{ site.data.contact.twitter }}" target="_blank">{{ site.data.contact.twitter }}</a>
    </li>
    {% endif %}

    {% if site.data.contact.medium %}
    <li class="goodreads-g"><i class="fab fa-medium"></i>
      <a href="https://medium.com/@{{ site.data.contact.medium }}" target="_blank">{{ site.data.contact.medium }}</a>
    </li>
    {% endif %}

    {% if site.data.contact.stack-overflow %}
    <li class="stack-overflow"><i class="fab fa-stack-overflow"></i>
      <a href="https://stackoverflow.com/users/{{ site.data.contact.stack-overflow }}" target="_blank">{{ site.data.contact.stack-overflow }}</a>
    </li>
    {% endif %}

    {% if site.data.contact.goodreads %}
    <li class="goodreads-g"><i class="fab fa-goodreads-g"></i>
      <a href="https://www.goodreads.com/user/show/{{ site.data.contact.goodreads }}" target="_blank">{{ site.data.contact.goodreads }}</a>
    </li>
    {% endif %}

    {% if site.data.contact.google-scholar %}
    <li class="goodreads-g"><i class="ai ai-google-scholar"></i>
      <a href="https://scholar.google.com/citations?user={{ site.data.contact.google-scholar }}" target="_blank">{{ site.data.contact.google-scholar }}</a>
    </li>
    {% endif %}

    {% if site.data.contact.orcid %}
    <li class="goodreads-g"><i class="ai ai-orcid"></i>
      <a href="https://orcid.org/{{ site.data.contact.orcid }}" target="_blank">{{ site.data.contact.orcid }}</a>
    </li>
    {% endif %}

    {% if site.data.contact.researcherid %}
    <li class="goodreads-g"><i class="ai ai-researcherid"></i>
      <a href="https://researcherid.com/rid/{{ site.data.contact.researcherid }}" target="_blank">{{ site.data.contact.researcherid }}</a>
    </li>
    {% endif %}

    {% if site.data.contact.researchgate %}
    <li class="goodreads-g"><i class="ai ai-researchgate"></i>
      <a href="https://www.researchgate.net/profile/{{ site.data.contact.researchgate }}" target="_blank">{{ site.data.contact.researchgate }}</a>
    </li>
    {% endif %}

  </ul>
</div><!--//contact-container-->
