<section class="section publications-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
    </span>
    Publications and Presentations
  </h2>

  <div>
      I have tried to post post-prints or <b>open access versions</b> whenever possible.
      However, paywalls sometimes get in our way.
      If you would like a copy of a paper but are not able to access it, please <a href="mailto:{{ site.data.contact.email }}">email me</a> and I'll be delighted to <b>send you a copy</b>.
      Let's work together towards a better model of academic publishing!
  </div>

  <h3 class="section-subtitle">Manuscripts in Review</h3>
  {% bibliography  --query @unpublished --sort date %}

  <h3 class="section-subtitle">Peer-Reviewed Journal Articles</h3>
  {% bibliography  --query @article --sort date %}

  <h3 class="section-subtitle">Conference Papers</h3>
  {% bibliography  --query @inproceedings --sort date %}

</section><!--//section-->
