{% assign sidebar = site.data.data.sidebar %}
{% assign contact = site.data.contact %}
<div class="sidebar-wrapper">

  <div class="profile-container">

    {% if sidebar.name %}
    <img class="avatar" src="{{ site.baseurl }}/assets/images/{{ sidebar.avatar }}" alt="profile picture" />
    {% endif %}

    {% if sidebar.name %}
    {% if contact.website %}<h1 class="name"><a href="{{ contact.website}}" target="_blank">{{ sidebar.name }}</a></h1>{% else %}<h1 class="name">{{ sidebar.name }}</h1>{% endif %}
    {% endif %}

    {% if sidebar.tagline %}
    <h3 class="tagline">{{ sidebar.tagline }}</h3>
    {% endif %}

  </div><!--//profile-container-->

  {% include contact.html %}

</div><!--//sidebar-wrapper-->
